<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= render 'partials/brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "New", root_path({sort_by: "created_at"}), class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Best", root_path({sort_by: "rating"}), class: "nav-link" %>
      </li>
    </ul>
    <%= link_to 'Add quote', new_article_path, class: "btn btn-outline-light my-2 my-sm-0" %>
  </div>
</nav>

<% @articles.each do |article| %>
  <blockquote class="blockquote text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <p >
            Rating: <span id=<%= article.id%> ><%= article.rating %></span>
          </p>
        </div>
        <div class="col-6">
        </div>
        <div class="col">
          <%= link_to "Like", like_article_path(article), remote: true, class: "btn btn-primary"  %>
          <%= link_to "Dislike", dislike_article_path(article), remote: true, class: "btn btn-secondary"  %>
        </div>
      </div>
    </div>
    <p class="mb-0"><%= article.body %></p>
    <footer class="blockquote-footer">Created at: <%= article.created_at.time.to_formatted_s(:long) %></footer>
  </blockquote>
<% end %>


